@import '../../Assets/variables.styl';

.button-style
  padding 8px 10px
  background-color transparent
  margin 5px 10px
  border none
  font normal 18px/18px Georgia, sans-serif
  transition color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out
  border-radius 5px
  cursor pointer
  &:focus
    outline none
  &.theme
    &__default
      background-color $color-white-gray
      color $color-text-default
      &:hover
        background-color $color-primary-bg
        color $color-black

    &__red
      border 1px solid $color-primary-bg
      color $color-red
      &:hover
        color $color-white
        background-color $color-red

    &__green
      border 1px solid $color-primary-bg
      color $color-green
      &:hover
        color $color-white
        background-color $color-green
  &.size
    &__small
      padding 5px
      margin: 5px 2px

.disabled
  opacity 0.4
  color $color-primary-bg !important
  &:hover
    background-color $color-white !important
