@import '../../../Assets/variables.styl';

.answer-adder-container
  // border 1px solid black
  margin-top 10px

.answer-field
  position relative
  display flex
  margin 5px

.extra-radio-button
  margin-top 11px
  margin-right 15px

.not-editable-span
  max-width: 230px
  display block
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
  align-items center
  font normal 18px/20px Georgia, sans-serif
  margin 5px 10px
  padding 5px 10px
  background-color $color-of-sent-values
  border-radius 5px
  border 1px solid transparent
  color $color-text-default

.button-block
  position absolute
  right 0px
