h1 {
  color: #645757;
  text-align: center;
}

input,
.button_block button {
  outline: transparent;
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.app input {
  padding: 2px 7px;
}

.app input:first-child{
  margin-bottom: 5px;
}

.output_field {
  padding: 5px 10px;
  margin: 5px 10px;
  border-bottom: 1px dashed rgb(173, 162, 162);
}

.button_block {
  display: flex;
  justify-content: space-between;
}

.button_block button {
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  margin: 5px 10px;
  border: none;
  background-color: #f3e0e0;
}

.button_block .red {
  color: rgb(199, 115, 115);
}

.button_block .green {
  color: rgb(116, 196, 116);
}
