@import '../../Assets/variables.styl';

.error-log-container
  font normal 16px/20px Georgia, sans-serif
  color $color-white
  display flex
  background-color $color-red
  justify-content center
  border-radius 0 0 10px 10px