@import '../../Assets/variables.styl';

.span-label
  font normal 16px/20px Georgia, sans-serif
  color $color-textLabel-default
  padding 0 2px
  text-align center
  border-bottom 1px solid $color-primary-bg
  display block