@import '../../Assets/variables.styl';

.layout-container
  display flex
  flex-direction column

.layout-header
  display flex
  width 100%
  margin-bottom 20px

.layout-header > span
  font normal 20px/18px Georgia, sans-serif
  padding 10px
  position relative
  width 100%
  text-align center
  color $color-textLabel-default
  border-bottom 2px solid $color-primary-bg

.layout-header > div
  padding 0 10px
  border-bottom 2px solid $color-primary-bg
  border-left 2px solid $color-primary-bg

.layout-body
  display inline-block