@import '../../Assets/variables.styl';

.Icon__wrapper
  display inline-flex
  svg
    width: 100%
    height 100%

  &:hover
    cursor inherit

.white > svg
  fill #ffffff

.black > svg
  fill #000000

.light-gray > svg
  fill $colot-text-content-hints

.gray > svg
  fill #525f67

.blue > svg
  fill #0090DB

.red > svg
  fill: #ff2121