.navbar
  padding 10px
  marginbottom: 20px
  display flex
  justify-content: space-around
  background-color: rgb(119, 113, 105)
  border-bottom: 1px solid rgb(233, 188, 65)


.navbar a
  transition .3s
  text-decoration: none
  color rgb(243, 228, 201)
  font-size: 20px

.navbar a:hover
  color rgb(177, 211, 170)

