$font-size-default = 16px
$font-size-min = 15px

$color-red = #dc3545
$color-green = #28a745
$color-white-gray = #f8f9fa
$color-white = #ffffff
$color-black = #000000
$color-dividing-line = #e9eeef

$color-primary-bg = #dae0e5
$color-primary-action = #0090DB
$color-primary-text = #73AECC

$color-success-action = #9fe49f


$color-error-bg = #f9ebea
$color-error-text = #D5AFAA
$color-error-action = #F6B5AC
$color-error-action-text = #FC2B32


$color-text-hints = #829199
$color-text-default = #2B2B2B
$color-textLabel-default = #525f67

$colot-text-content-hints = #93A2AA

$default-box-border-radius = 2px
$default-box-padding = 1.2rem 0.8rem

/** z-index */
$overlay-button-close-zi = 999
$select-option-list-zi = 999
$overlay-lightbox-zi = 899
$overlay-zi = 799