@import '../../Assets/variables.styl';

.modal-window
  position fixed
  display flex
  justify-content center
  align-items start
  top 0
  left 0
  right 0
  bottom 0
  background rgba(0, 0, 0, 0.6)
  box-shadow 0 0 0 50vmax rgba(0, 0, 0, 0.6)
  text-align center
  overflow-y auto
  overflow-x hidden
  z-index $overlay-zi

.modal-window-container
  display flex
  position relative
  flex-direction column
  background #fff
  box-shadow 0 10px 50px rgba(0, 0, 0, .7)
  border-radius 3px
  z-index $overlay-lightbox-zi
  margin 1em

.close-button
  position absolute
  right 0
  top 0
