@import '../../Assets/variables.styl';

.create-question-container
  width 400px
  border-top 1px solid $color-primary-bg
  border-bottom 1px solid $color-primary-bg

.create-question-container > span
  display block
  text-align center
  font normal 16px/18px Georgia, sans-serif
  padding 10px 0
  color $color-text-default
